<%- include("partials/header.ejs") %>
<div class="container">
    <h2><%- Blog_title[index] %></h2>
    <div class="readblog">
        <pre>
            <%- Blog_content[index] %>
        </pre>
        <div>
            <form method="POST" class="Back" action="/edit">
                <input type="hidden" name="index" value="<%= index %>">
                <input class="button" type="submit" value="Back">
            </form>
            <form method="POST" class="Next" action="/edit">
                <input type="hidden" name="index" value="<%= index %>">
                <input class="button" type="submit" value="Next">

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>